@import "../../App.css";
@import "../../variables.css";

:root {
  --background-list-department: #fff;
}

#main .container {
  background-color: var(--blur-background);
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  width: 100%;
  height: 800px;
  border-radius: 15px;
  box-shadow: var(--primary-shadow-color);
}

#main .container .box-top {
  flex: 1;
  background-color: #fff;
  border-radius: 15px;
  padding: 20px 20px;
  box-shadow: var(--primary-shadow-color);
}

#main .container .box-top .title {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#main .container .box-top .title h2 {
  font-size: 28px;
  font-weight: 600;
  background: var(--primary-title-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#main .container .box-top .title a {
  background: var(--primary-button-color);
  color: var(--text-color-in-button);
  padding: 10px 10px;
  border-radius: 5px;
  text-decoration: none;
}

#main .container .box-top .title .fa-right-from-bracket {
  margin-left: 10px;
}

#main .container .box-top .all-action {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#main .container .box-top .all-action .filter-user {
  display: flex;
}

#main .container .box-top .all-action .filter {
  margin-right: 20px;
}

#main .container .box-top .all-action .search {
  position: relative;
}
#main .container .box-top .all-action .search input {
  padding: 10px 50px;
  outline: none;
  border: none;
  border: 1px solid var(--border-input);
  border-radius: 5px;
  /* background-color: #fff; */
  width: 600px;
}
#main .container .box-top .all-action .search .fa-magnifying-glass {
  background: var(--primary-button-color);
  padding: 10px 10px;
  color: var(--text-color-in-button);
  position: absolute;
  left: 0;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
}

#main .container .box-top .all-action .add {
  background: var(--primary-button-color);
  padding: 8px 10px;
  color: var(--text-color-in-button);
  right: 0;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 20px;
}

#main .container .box-top .all-action .trash {
  background: var(--button-destroy-color);
  padding: 8px 10px;
  color: var(--text-color-in-button);
  right: 0;
  border-radius: 5px;
  cursor: pointer;
}
#main .container .box-top .all-action .filter select {
  padding: 10px 10px;
  outline: none;
  border: none;
  border: 1px solid var(--border-input);
  border-radius: 5px;
  background-color: #fff;
  font-size: 15px;
}
#main .container .box-bot {
  background-color: var(--background-list-department);
  border-radius: 15px;
  padding: 20px 20px;
  box-shadow: var(--primary-shadow-color);
  margin-top: 10px;
  flex: 6;
  overflow-y: scroll;
}

#main .container .box-bot .title h2 {
  font-size: 28px;
  font-weight: 600;
  background: var(--primary-title-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  margin-bottom: 20px;
}

hr.new1 {
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--border-color);
  border-left: none;
  border-right: none;
  border-top: none;
}
table th {
  text-transform: uppercase;
  font-weight: 600;
  background-color: var(--background-th);
  border-bottom: none;
}

table td,
th {
  padding: 8px 10px;
  border-left: none;
  border-right: none;
  text-align: start;
}
table .action {
  text-align: center;
  width: 200px;
}
#main .container .box-bot table .th-user {
  position: relative;
  width: 250px;
}

#main .container .box-bot table .th-user .th-name {
  position: absolute;
  top: 17px;
}
#main .container .box-bot table .th-user img {
  width: 38px;
  height: 38px;
  margin-right: 10px;
}

#main .container .box-bot table .action a .fa-eye {
  background-color: var(--button-detail-color);
  color: var(--text-color-in-button);
  padding: 10px;
  border-radius: 5px;
}
#main .container .box-bot table .action a .fa-pen-to-square {
  background-color: var(--button-edit-color);
  color: var(--text-color-in-button);
  padding: 10px;
  border-radius: 5px;
}
#main .container .box-bot table .action a .fa-trash-can {
  background-color: var( --button-destroy-color);
  color: var(--text-color-in-button);
  padding: 10px;
  border-radius: 5px;
}

/* modal */
.modal-add {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  /* display: none; */
}

.show-modal-add {
  display: block;
}

.form-add {
  max-width: 700px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-add .form {
  background-color: var(--background-modal);
  width: 100%;
  border-radius: 15px;
  padding: 30px;
  position: relative;
  animation: modal 0.6s ease;
}

@keyframes modal {
  from {
    transform: scale(0%);
    opacity: 0;
  }
  to {
    transform: scale(100%);
    opacity: 1;
  }
}
.close-modal {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  color: var(--button-close-color);
  cursor: pointer;
  padding: 5px 10px;
}
.close-modal:hover {
  color: #333;
  background-color: #ccc;
  /* padding: 3px 10px; */
  border-radius: 5px;
}

.form-add .form .title h2 {
  font-weight: 500;
  font-size: 28px;
  background: var(--primary-title-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.form-add .form .form-add-user {
  margin-top: 20px;
}

.form-add .form .form-add-user .box-text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.form-add .form .form-add-user .box-text .control-ip input {
  width: 100%;
  padding: 12px 20px;
  border: 1px solid var(--border-input);
  border-radius: 5px;
  outline: none;
  margin-top: 10px;
}
.form-add .form .form-add-user .box-text .select-users select {
  width: 100%;
  padding: 12px 20px;
  border: 1px solid var(--border-input);
  border-radius: 5px;
  outline: none;
  margin-top: 10px;
  background-color: #fff;
  color: var(--primary-text-color);
  font-size: 16px;
}
::placeholder {
  font-size: 16px;
  color: var(--placeholder-color);
}
.btn {
  cursor: pointer;
}

.form-add .form .form-add-user .box-text .text-role select {
  width: 100%;
  padding: 12px 20px;
  border: 1px solid var(--border-input);
  border-radius: 5px;
  outline: none;
  margin-top: 10px;
  /* background-color: #fff; */
  color: var(--primary-text-color);
  font-size: 16px;
}

.form-add .form .form-add-user .upload-avatar {
  margin: 30px 0;
}

.not-user {
  text-align: center;
  font-size: 16px;
  padding: 20px 0;
  font-weight: 600;
}

.form-add .form .form-add-user .upload-avatar .show-image {
  display: flex;
  align-items: center;
}

.form-add .form .form-add-user .upload-avatar .show-image img {
  width: 60px;
  height: 60px;
  margin-right: 30px;
  border-radius: 50%;
  border: 2px solid var(--border-color);
}
input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid var(--border-input);
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.form-add .form .form-add-user .role {
  margin-top: 30px;
}

.form-add .form .form-add-user .role .checkbox label {
  font-size: 15px;
  font-weight: 300;
  margin-right: 20px;
}

.form-add .form .form-add-user .btn-add-user {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  gap: 30px;
}

.form-add .form .form-add-user .btn-add-user .btn {
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  cursor: pointer;
}
.form-add .form .form-add-user .btn-add-user .btn.add {
  background: var(--primary-button-color);
  color: var(--text-color-in-button);
}
.form-add .form .form-add-user .btn-add-user .btn.reset {
  background: #ccc;
  color: #333;
}

/* modal-confirm */
.modal-delete {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  /* display: none; */
}

.show-confirm {
  display: block;
}

.form-confirm {
  max-width: 450px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-confirm .form {
  background-color: var(--background-modal);
  width: 100%;
  border-radius: 15px;
  padding: 30px;
  position: relative;
  animation: modal 0.4s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-confirm .form .title-confirm i {
  font-size: 48px;
  display: flex;
  justify-content: center;
  color: #ccc;
}
.form-confirm .form .title-confirm p {
  padding: 30px 0;
  text-align: center;
}

.form-confirm .form .btn-confirm .btn {
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
  margin: 0 10px;
}

.form-confirm .form .btn-confirm .btn.yes {
  background-color: var(--button-destroy-color);
  color: var(--text-color-in-button);
  transition: all 0.3s ease-in-out;
}
.form-confirm .form .btn-confirm .btn.yes:hover {
  background-color: var(--button-destroy-color-hover);
}

.form-confirm .form .btn-confirm .btn.no {
  border: 1px solid var(--border-input);
  color: grey;
  transition: all 0.3s ease-in-out;
}
.form-confirm .form .btn-confirm .btn.no:hover {
  background-color: #ccc;
  color: #333;
}
.btn-delete {
  cursor: pointer;
}
