@import "../../App.css";
@import "../../variables.css";

/* variables private */
:root {
  /* background */
  --background-nav: #fff;
  --background-list-user: #a6b3f5;
  --background-message-received: #fff;
  --background-message-send: linear-gradient(135deg, #4158d0, #c850c0);

  /* border */
  --border-img: #fff;

  /* icon */
  --icon-message-color: #4158d0;

  /* other */
  --status-dot-color: #09d609;

}

#main .container-mess {
  background-color: var(--blur-background);
  width: 100%;
  height: 800px;
  display: flex;
  box-shadow: var(--primary-shadow-color);
}
#main .container-mess .box-left {
  background: var(--primary-background);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;
  box-shadow: var(--primary-shadow-color);
  z-index: 999;
}

#main .container-mess .box-left i.fa-solid {
  padding: 15px 20px;
  font-size: 27px;
  color: var(--icon-color);
  cursor: pointer;
  transition: all 0.3s ease;
}

#main .container-mess .box-left i.fa-solid:hover {
  color: var(--icon-color-hover);
}

#main .container-mess .box-left .sidebar-top,
#main .container-mess .box-left .sidebar-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fa-solid.fa-power-off {
  margin-bottom: 20px;
}

#main .container-mess .box-right {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#main .container-mess .box-right .nav-top {
  background-color: var(--background-nav);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 25px;
  box-shadow: var(--second-shadow-color);
  position: relative;
}

#main .container-mess .box-right .nav-top .clip-path {
  background: var(--primary-background);
  position: absolute;
  height: 100%;
  width: 400px;
  right: 0;
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
}

#main .container-mess .box-right .nav-top .nav-top-left {
  position: relative;
  display: flex;
}

#main .container-mess .box-right .nav-top .nav-top-left input {
  padding: 8px 20px;
  border: none;
  border: 1px solid var(--border-input);
  border-radius: 25px;
  outline: none;
  width: 230px;
}
#main .container-mess .box-right .nav-top .nav-top-left .fa-magnifying-glass {
  position: absolute;
  right: 90px;
  padding: 8px;
  border-radius: 50%;
  background: var(--primary-background);
  color: #fff;
  cursor: pointer;
}

#main .container-mess .box-right .nav-top .nav-top-left .add-user {
  margin-left: 20px;
  display: flex;
  align-items: center;
  color: var(--icon-message-color);
}

#main .container-mess .box-right .nav-top .nav-top-left .add-user i {
  padding: 0 8px;
  cursor: pointer;
}
#main .container-mess .box-right .nav-top .nav-top-left .add-user i:hover {
  color: var(--icon-color-hover);
}

#main .container-mess .box-right .nav-top .nav-top-right {
  z-index: 100;
}

#main .container-mess .box-right .nav-top .nav-top-right .box-user {
  display: flex;
  align-items: center;
  position: relative;
}

#main .container-mess .box-right .nav-top .nav-top-right .box-user #user-name {
  margin-right: 15px;
  color: #fff;
}

#main .container-mess .box-right .nav-top .nav-top-right .box-user .dot {
  position: absolute;
  border-radius: 50%;
  padding: 5px;
  background-color: var(--status-dot-color);
  z-index: 100;
  left: -20px;
}

#main .container-mess .box-right .nav-top .nav-top-right .box-user img {
  width: 38px;
  height: 38px;
  border: 2px solid var(--border-img);
  border-radius: 50%;
}

#main .container-mess .box-right .content {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#main .container-mess .box-right .content .box-list-user {
  /* flex: 0.8; */
  width: 370px;
  background-color: var(--background-list-user);
  height: 100%;
  overflow-y: scroll;
  box-shadow: var(--primary-shadow-color);
}

#main .container-mess .box-right .content .box-list-user a{
  text-decoration: none;
  color: var(--primary-text-color);
}

.section::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  border-radius: 100px;
}

#main .container-mess .box-right .content .box-list-user .content-message {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  cursor: pointer;
}
#main
  .container-mess
  .box-right
  .content
  .box-list-user
  .content-message
  .left {
  display: flex;
}

#main
  .container-mess
  .box-right
  .content
  .box-list-user
  .content-message
  .left
  .avatar
  img {
  width: 48px;
  height: 48px;
  border: 2px solid var(--border-img);
  border-radius: 50%;
}

#main
  .container-mess
  .box-right
  .content
  .box-list-user
  .content-message
  .left
  .name-message {
  margin: 0 15px;
}

#main
  .container-mess
  .box-right
  .content
  .box-list-user
  .content-message
  .left
  .name-message
  .name {
  font-weight: 600;
}

#main
  .container-mess
  .box-right
  .content
  .box-list-user
  .content-message
  .left
  .name-message
  .message {
  font-weight: 300;
}

#main
  .container-mess
  .box-right
  .content
  .box-list-user
  .content-message
  .right {
  font-size: 13px;
}

#main
  .container-mess
  .box-right
  .content
  .box-list-user
  .content-message
  .right
  .notification {
  background: #4158d0;
  display: flex;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #fff;
  margin-left: 5px;
}

.active {
  background: var(--primary-background);
}

#main .container-mess .box-right .content .box-chat-user {
  padding: 30px 50px;
  flex: 2;
  position: relative;
  flex-direction: column;
}

#main .container-mess .box-right .content .box-defautl {
  display: flex;
  flex: 2;
  padding: 20px 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#main .container-mess .box-right .content .box-defautl h2 {
  padding: 10px 0;
  font-weight: 500;
  font-size: 20px;
}

#main .container-mess .box-right .content .box-defautl p {
  width: 400px;
  text-align: center;
  font-size: 14px;
}

#main .container-mess .box-right .content .box-defautl img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.detail-mess {
  display: block !important;
}

.hidden-mess {
  display: none !important;
}

.hr-top {
  border: 1px solid var(--border-color);
  margin-top: 20px;
}
.hr-bot {
  border: 1px solid var(--border-color);
  margin-bottom: 20px;
}
#main .container-mess .box-right .content .box-chat-user .user-texting {
  display: flex;
  justify-content: space-between;
}

#main
  .container-mess
  .box-right
  .content
  .box-chat-user
  .user-texting
  .info-user {
  display: flex;
}

#main
  .container-mess
  .box-right
  .content
  .box-chat-user
  .user-texting
  .info-user
  img {
  width: 48px;
  height: 48px;
}

#main
  .container-mess
  .box-right
  .content
  .box-chat-user
  .user-texting
  .info-user
  .name-status {
  margin: 0 20px;
}
#main
  .container-mess
  .box-right
  .content
  .box-chat-user
  .user-texting
  .info-user
  .name-status
  .name {
  font-weight: 600;
}
#main
  .container-mess
  .box-right
  .content
  .box-chat-user
  .user-texting
  .info-user
  .name-status
  .status {
  position: relative;
  font-size: 13px;
  margin-left: 15px;
}
#main
  .container-mess
  .box-right
  .content
  .box-chat-user
  .user-texting
  .info-user
  .name-status
  .status
  .dot {
  padding: 5px;
  position: absolute;
  border-radius: 50%;
  left: -15px;
  top: 4px;
  background-color: var(--status-dot-color);
}

.name-message .status {
  position: relative;
  font-size: 13px;
  margin-left: 15px;
}
.name-message .status .dot {
  padding: 5px;
  position: absolute;
  border-radius: 50%;
  left: -15px;
  top: 4px;
  background-color: var(--status-dot-color);
}

#main .container-mess .box-right .content .box-chat-user .user-texting .action {
  display: flex;
  align-items: end;
}

#main
  .container-mess
  .box-right
  .content
  .box-chat-user
  .user-texting
  .action
  i {
  padding: 0 15px;
  font-size: 25px;
  color: var(--icon-message-color);
  cursor: pointer;
  transition: all 0.3s ease;
}
#main
  .container-mess
  .box-right
  .content
  .box-chat-user
  .user-texting
  .action
  i:hover {
  color: var(--icon-color-hover);
}

#main .container-mess .box-right .content .box-chat-user .content-text {
  position: relative;
  height: 90%;
}

#main .container-mess .box-right .content .box-chat-user .box-submit-message {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#main
  .container-mess
  .box-right
  .content
  .box-chat-user
  .box-submit-message
  .box-write {
  display: flex;
  align-items: center;
}

#main
  .container-mess
  .box-right
  .content
  .box-chat-user
  .box-submit-message
  .box-write
  .text {
  flex: 2.5;
}

#main
  .container-mess
  .box-right
  .content
  .box-chat-user
  .box-submit-message
  .box-write
  .text
  input {
  border: none;
  outline: none;
  padding: 15px 20px;
  font-size: 18px;
  width: 100%;
  border-radius: 10px;
}

#main
  .container-mess
  .box-right
  .content
  .box-chat-user
  .box-submit-message
  .box-write
  .select {
  flex: 0.7;
  display: flex;
  justify-content: end;
}

#main
  .container-mess
  .box-right
  .content
  .box-chat-user
  .box-submit-message
  .box-write
  .select
  .btn-send {
  background: var(--primary-button-color);
  color: #fff;
  padding: 8px 28px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

#main
  .container-mess
  .box-right
  .content
  .box-chat-user
  .box-submit-message
  .box-write
  .select
  .btn-send:hover {
  color: var(--icon-color-hover);
}

#main
  .container-mess
  .box-right
  .content
  .box-chat-user
  .box-submit-message
  .box-write
  .select
  .icons {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
#main
  .container-mess
  .box-right
  .content
  .box-chat-user
  .box-submit-message
  .box-write
  .select
  .icons
  i {
  margin: 0 10px;
  font-size: 25px;
  cursor: pointer;
  color: var(--icon-message-color);
  transition: all 0.3s ease;
}
#main
  .container-mess
  .box-right
  .content
  .box-chat-user
  .box-submit-message
  .box-write
  .select
  .icons
  i:hover {
  color: var(--icon-color-hover);
}

#main
  .container-mess
  .box-right
  .content
  .box-chat-user
  .content-text
  .write-message {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 88%;
}

#main
  .container-mess
  .box-right
  .content
  .box-chat-user
  .content-text
  .write-message
  .chat-messages {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

#main
  .container-mess
  .box-right
  .content
  .box-chat-user
  .content-text
  .write-message
  .chat-messages
  .message {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

#main
  .container-mess
  .box-right
  .content
  .box-chat-user
  .content-text
  .write-message
  .chat-messages
  .message
  .message-content {
  display: flex;
  align-items: center;
}
#main
  .container-mess
  .box-right
  .content
  .box-chat-user
  .content-text
  .write-message
  .chat-messages
  .message
  .message-content
  p {
  max-width: 630px;
  height: auto;
  word-wrap: break-word;
  word-break: break-word;
}

#main
  .container-mess
  .box-right
  .content
  .box-chat-user
  .content-text
  .write-message
  .chat-messages
  .message
  .message-content
  .time {
  color: #4158d0;
  font-size: 13px;
  font-weight: 600;
}

#main
  .container-mess
  .box-right
  .content
  .box-chat-user
  .content-text
  .write-message
  .chat-messages
  img {
  width: 48px;
  height: 48px;
}

#main
  .container-mess
  .box-right
  .content
  .box-chat-user
  .content-text
  .write-message
  .chat-messages
  .received {
  display: flex;
}

#main
  .container-mess
  .box-right
  .content
  .box-chat-user
  .content-text
  .write-message
  .chat-messages
  .received
  p {
  background: var(--background-message-received);
  margin: 0 20px;
  padding: 15px 25px;
  color: var(--primary-text-color);
  border-radius: 25px;
  box-shadow: var(--second-shadow-color);
}

#main
  .container-mess
  .box-right
  .content
  .box-chat-user
  .content-text
  .write-message
  .chat-messages
  .sent {
  display: flex;
  justify-content: end;
}
#main
  .container-mess
  .box-right
  .content
  .box-chat-user
  .content-text
  .write-message
  .chat-messages
  .sent
  p {
  background: var(--background-message-send);
  margin: 0 20px;
  padding: 15px 25px;
  color: #fff;
  border-radius: 25px;
  box-shadow: var(--second-shadow-color);
}
